repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.2.0
  hooks:
  - id: trailing-whitespace
    exclude: README.md
  - id: check-yaml
  - id: check-json
  - id: end-of-file-fixer
    exclude: |
      (?x)^(
        .github/aiida/profile.yaml  |
        .github/mongo/test_structures_mongo.json |
        .github/workflows/ci_dependabot.yml
      )$

- repo: https://github.com/ambv/black
  rev: 22.3.0
  hooks:
  - id: black
    name: Blacken

- repo: local
  hooks:
  - id: codecov-validator
    name: Validate .codecov.yml
    description: Validate .codecov.yml using codecov's online validation tool.
    entry: ./.ci/codecov-validator.sh
    files: >
      (?x)^(
        .codecov.yml
      )$
    language: system

- repo: https://gitlab.com/pycqa/flake8
  rev: '3.9.2'
  hooks:
  - id: flake8
