include .docker/run.sh
include profiles/*
include Dockerfile
include .dockerignore
include LICENSE
include README.md
include setup.cfg
include setup.json
include requirements*.txt
include aiida_optimade/*.json
include aiida_optimade/data/*.json
