aiida-core~=1.6.8
optimade[mongo]~=0.17.2
pymatgen~=2021.3
uvicorn~=0.17.6

# Dependencies used directly in this package, but included through other dependencies:
# aiida-core:
#   click
#   click-completion
#   tqdm
# optimade:
#   pydantic
#   fastapi
