optimade[server]~=0.25.3
aiida-core~=2.4.0
pymatgen>=2019.7.2,!=2019.9.7,<2023.10.12

# Dependencies used directly in this package, but included through other dependencies:
# aiida-core:
#   click
#   click-completion
#   tqdm
# optimade:
#   pydantic
#   fastapi
#   uvicorn
#   pymongo
#   mongomock
