{
    "CONFIG_VERSION": {
        "CURRENT": 8,
        "OLDEST_COMPATIBLE": 8
    },
    "default_profile": "{{ aiida_profile }}",
    "profiles": {
        "{{ aiida_profile }}": {
            "storage": {
                "backend": "psql_dos",
                "config": {
                    "database_engine": "postgresql_psycopg2",
                    "database_hostname": "{{ aiida_db_host }}",
                    "database_port": {{ aiida_db_port }},
                    "database_name": "{{ aiida_db_name }}",
                    "database_username": "{{ aiida_db_user }}",
                    "database_password": "{{ aiida_db_pass }}",
                    "repository_uri": "file:///app/.aiida/repository-quicksetup"
                }
            },
            "process_control": {
                "backend": "rabbitmq",
                "config": {
                    "broker_protocol": "amqp",
                    "broker_username": "guest",
                    "broker_password": "guest",
                    "broker_host": "127.0.0.1",
                    "broker_port": 5672,
                    "broker_virtual_host": ""
                }
            },
            "options": {}
        }
    }
}
