version: "2"

services:

  aiida-optimade-{{ aiida_profile }}:
    restart: always
    build:
      context: ..
      dockerfile: Dockerfile
      args:
        OPTIMADE_TOOLS_VERSION: 0.16.3
        AIIDA_VERSION: 1.6.5
        CONFIG_FILE: "mcloud/{{ aiida_profile }}.json"
    environment:
      AIIDA_PATH: /app
      AIIDA_PROFILE: {{ aiida_profile }}
      FORCE_INIT: {{ force_init }}
      USE_MONGO: {{ use_mongo }}
      MONGO_FILENAME: {{ mongo_filename }}
      AIIDA_OPTIMADE_LOG_LEVEL: {{ log_level }}
      OPTIMADE_LOGGING_LEVEL: {{ log_level }}
      OPTIMADE_MONGO_DATABASE: {{ aiida_profile }}
    volumes:
      - "{{ repo_folder }}:/app/.aiida/repository-quicksetup"
      - "{{ config_folder }}:/profiles"
      - "{{ mongo_folder }}:/app/.mongo"
    ports:
      - "{{ port }}:80"
