version: '3'

services:

  aiida-optimade-{{ aiida_profile }}:
    restart: always
    depends_on:
      - mongo
    build:
      context: ..
      dockerfile: Dockerfile
      args:
        OPTIMADE_TOOLS_VERSION: 0.16.12
        AIIDA_VERSION: 2.0.1
        CONFIG_FILE: aiida_optimade/config.json
    environment:
      AIIDA_PATH: /app
      AIIDA_PROFILE: {{ aiida_profile }}
      FORCE_INIT: {{ force_init }}
      USE_MONGO: {{ use_mongo }}
      MONGO_FILENAME: {{ mongo_filename }}
      AIIDA_OPTIMADE_LOG_LEVEL:
      OPTIMADE_MONGO_URI: 'mongodb://mongo:27017'
    volumes:
     - '{{ repo_folder }}:/app/.aiida/repository-quicksetup'
     - '{{ config_folder }}:/profiles'
     - '{{ mongo_folder }}:/app/.mongo'
    ports:
      - '{{ port }}:80'
    networks:
      - optimade

  mongo:
    restart: always
    image: mongo:4
    networks:
      - optimade

networks:
  optimade:
