version: '3'

services:

  aiida-optimade:
    restart: always
    build:
      context: ..
      dockerfile: Dockerfile
      args:
        OPTIMADE_TOOLS_VERSION: 0.13.0
        AIIDA_VERSION: 1.5.2
        CONFIG_FILE: aiida_optimade/config.json
    environment:
      AIIDA_PATH: /app
      AIIDA_PROFILE: test_django
      FORCE_INIT:
      USE_MONGO:
      AIIDA_OPTIMADE_LOG_LEVEL:
    volumes:
     - '/tmp/test_repository_test_django:/app/.aiida/repository-quicksetup'
     - '.:/profiles'
    ports:
      - '3253:80'
    # Extra field ONLY for use with GitHub Actions CI
    extra_hosts:
      - "docker.host.internal:${DOCKER_HOST_IP}"
