version: '2'

services:
  aiida-optimade:
    restart: always
    build:
      context: ..
      dockerfile: Dockerfile
      args:
        OPTIMADE_TOOLS_VERSION: 0.12.3
        AIIDA_VERSION: 1.4.2
    environment:
      AIIDA_PATH: /app
      AIIDA_PROFILE: test_django
      OPTIMADE_CONFIG_FILE: /app/aiida_optimade/config.json
      FORCE_INIT: ''
    volumes:
     - '/tmp/test_repository_test_django:/app/.aiida/repository-quicksetup'
     - '.:/profiles'
    ports:
      - '3253:80'
    # Extra field ONLY for use with GitHub Actions CI
    extra_hosts:
      - "docker.host.internal:$DOCKER_HOST_IP"
